<!DOCTYPE html>
<html>
<head>
	<title>Doubts Clarification Bot</title>
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap" rel="stylesheet">
	<style type="text/css">
		h2{
			font-family: 'Lora', serif;
		}
		h5{
			font-family: 'Lora', serif;
		}
		</style>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap" rel="stylesheet">
	<style type="text/css">
		body{
			background-position: 350px 50px;
			background-repeat: no-repeat;
		}
		ul {
  			list-style-type: none;
  			margin: 0;
  			padding: 0;
  			overflow: hidden;
  			background-color: #333;
		}
		li {
  			float: left;
		}
		li a {
  			display: block;
  			color: white;
  			text-align: center;
  			padding: 14px 16px;
  			text-decoration: none;
		}
		li a:hover {
  			background-color: #111;
		}
		/*.div a {
			float: none;
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			transform: translate(-50%, -50%);
		}
		#nav {
			width:750px;
			margin:0 auto;
			list-style:none;
			text-align: center;
		}
		#nav li {
			float:center;
			text-align: center;
		}*/

	</style>
</head>
<body>
		<img src="/images/logo.png" align="left" height="150" width="150" hspace="50">
		<center>
			<h2>SHRI VISHNU ENGINEERING COLLEGE FOR WOMEN::BHIMAVARAM</h2>
			<h5>(AUTONOMOUS)</h5>
			<h2>DEPARTMENT OF INFORMATION TECHNOLOGY</h2>
			<h2>DOUBTS CLARIFICATION BOT</h2>
		</center>
		<center><ul  class="nav">
			<li><a href="/uploadformforfaculty">Faculty list</a></li>
			<li><a href="/uploadform">Students List</a></li>
		</ul>	
	</center>
</body>
</html>